<body>
    <div class="main-section">
        <div class="search-container" >
            <form>
                <tui-input 
                tuiTextfieldIconLeft = "tuiIconSearchLarge"
                class="input"  name="searchSection" (input)="onKey()" [(ngModel)]="searchRequest">{{searchHint}}
                    <input id="searchSection" placeholder="Placeholder"
                        tuiTextfield>
                </tui-input>
            </form>
        </div>
        <button id="addCourseBtn" appearance="primary" tuiButton icon="tuiIconPlusLarge" routerLink="/courses/new">Add Course</button>
    </div>
</body>