<div class="course-container" [ngClass]="course.topRated ? 'top-rated': 'not-top'" appChangeBorder [creationDate]="course.creationDate">
    <div class="course-description-container">
      <div class="course-header-container">
        <p>{{course.creationDate | date: "dd.MM.yyyy"}}</p>
        <div class="course-description-header-container">
          <div #parent class="line-clamp-box">
          <tui-line-clamp class="line-clamp"
          [content]="content"
          ></tui-line-clamp>
            <ng-template 
            #content
            class = 'title'
            >
            <h1 data-id = "title">{{course.title | titlecase}}
            </h1>
          </ng-template>
          </div>
          <tui-badge class="badge" status="neutral" size="m" [value]="course.duration | duration"></tui-badge>
          <tui-svg *ngIf="course.topRated" class="icon" src="tuiIconStarLarge"></tui-svg>
        </div>
      </div>
      <p id="description">{{course.description}}</p>
    </div>
    <div class="button-container">
      <button class="course-buttons" tuiButton icon="tuiIconEdit3Large" size="m" appearance="secondary">Edit</button>

      <button class="course-buttons" type="button" data-id = "delete-button" tuiButton icon="tuiIconTrash2Large" size="m" appearance="secondary-destructive" (click)="showDialog(template)">Delete</button>
    </div>
  </div>
<ng-template
  #template
  let-observer
  >
  <p>Do you really want to delete this course?</p>
  <div class="tui-dialog">
    <button
    size="m"
    tuiButton
    type="button"
    class="tui-dialog"
    (click)="deleteCourse()"
    (click)="observer.complete()"
  >
    Yes
  </button>

  <button
    size="m"
    tuiButton
    class="tui-dialog"
    appearance="secondary-destructive"
    type="button"
    (click)="observer.complete()"
  >
    No
  </button>
  </div>
</ng-template>