<form action="">
   <div class="add-course-ui">
      <H1>New course</H1>
   <div class="add-window">
      Title
      <tui-input></tui-input>
      Description
      <tui-textarea></tui-textarea>
      <div class="date-duration">
         Date
         <tui-input-date></tui-input-date>
         Duration
         <tui-input-number></tui-input-number>
         <p>1h28</p>
      </div>
      Authors
      <tui-multi-select></tui-multi-select>
      </div>
   </div>
</form>
<div class="buttons">
   <button tuiButton>
      Save
   </button>
   <button  tuiButton appearance="secondary">
      Cancel
   </button>
</div>