<main>
   <app-simple-header></app-simple-header>
<body>
   <form>
      <div class="add-course-ui">
         <h1>New course</h1>
   
      <div class="add-window">
         <label [tuiLabel]="'Title'">
            <tui-input [tuiTextfieldCleaner]="true" name="title" [(ngModel)]="title" [tuiTextfieldLabelOutside]="true">
            <input tuiTextfield>
         </tui-input></label>
         <br>
         <label [tuiLabel]="'Description'">
            <tui-textarea [tuiTextfieldCleaner]="true" name="description" [(ngModel)]="description" [tuiTextfieldLabelOutside]="true"></tui-textarea>
         </label>
         <br>
         <div class="date-duration">
            <label [tuiLabel]="'Date'">
               <tui-input-date [tuiTextfieldLabelOutside]="true" name="date" [(ngModel)]="date" >dd.mm.yyyy<input tuiTextfield placeholder="dd.mm.yyyy"></tui-input-date>
            </label>
            <div class="duration-window">
               <label [tuiLabel]="'Duration'">
                  <tui-input-number [tuiTextfieldCleaner]="true" name="duration" [(ngModel)]="duration" [tuiTextfieldLabelOutside]="true">In minutes<input tuiTextfield placeholder="In minutes"></tui-input-number>
               </label>
               <p>{{duration | duration}}</p>
            </div>
         </div>
         <br>
         <label [tuiLabel]="'Authors'">
            <tui-multi-select [tuiTextfieldLabelOutside]="true" name="authors" [(ngModel)]="authors"></tui-multi-select>
         </label>     
         </div>
         <div class="buttons">
            <button tuiButton>
               Save
            </button>
            <button  tuiButton appearance="secondary">
               Cancel
            </button>
         </div>
      </div>
   </form>
</body>
<app-simple-footer></app-simple-footer>
</main>


