<main>
   <app-simple-header></app-simple-header>
<div class="tui-container">
   <div>
      <form [formGroup]="course">
         <div class="tui-col_6">
            <h1 class="tui-form__header tui-form__header_margin-top_none">New course</h1>
            <div class="tui-form__row">
               <label [tuiLabel]="'Title'">
                  <tui-input 
                  formControlName="title"
                  [tuiTextfieldCleaner]="true"
                  name="title" 
                  [tuiTextfieldLabelOutside]="true">
               </tui-input></label>
               <tui-error
               formControlName="title"
               [error]="[] | tuiFieldError | async">
               </tui-error>
               </div>
               <div class="tui-form__row">
                  <label [tuiLabel]="'Description'">
                     <tui-textarea
                     [maxLength]="500"
                     formControlName="description" 
                     [tuiTextfieldCleaner]="true" 
                     name="description"
                     [tuiTextfieldLabelOutside]="true"
                     ></tui-textarea>
                  </label>
                  <tui-error
                  formControlName="description"
                  [error]="[] | tuiFieldError | async"
                  ></tui-error>
               </div>
               <div class="tui-form__row tui-form__row_multi-fields">
                  <div class="tui-form__multi-field">
                     <label [tuiLabel]="'Date'">
                        <tui-input-date 
                        formControlName="date"
                        [tuiTextfieldLabelOutside]="true" 
                        name="date"
                        >dd.mm.yyyy<input tuiTextfield placeholder="dd.mm.yyyy"></tui-input-date>
                     </label><tui-error
                     formControlName="date"
                     [error]="[] | tuiFieldError | async"
                     ></tui-error>
                  </div>
                  <div class="tui-form__multi-field">
                     <label [tuiLabel]="'Duration'">
                        <tui-input-number
                        formControlName="duration" 
                        [tuiTextfieldCleaner]="true" 
                        name="duration" 
                        [tuiTextfieldLabelOutside]="true"
                        >In minutes<input tuiTextfield placeholder="In minutes"></tui-input-number>
                     </label><tui-error
                     formControlName="duration"
                     [error]="[] | tuiFieldError | async"
                     ></tui-error>
                  </div>
                  <div class="duration">
                     <p>{{(course.value.duration == (null || undefined)? 
                        0: course.value.duration) | duration}}</p>
                  </div>
               </div>
               <div class="tui-form__row">
                  <label [tuiLabel]="'Authors'">
                     <tui-multi-select
                        *tuiLet="items$ | async as items"
                        class="b-form"
                        formControlName="chosenAuthors"
                        [tuiTextfieldLabelOutside]="true"
                        (click)="onClickChange()"
                        (searchChange)="onSearchChange($event)"
                        name="authors" 
                        >
                        <tui-data-list-wrapper 
                        *tuiDataList
                        tuiMultiSelectGroup
                        [items]="items">
                        </tui-data-list-wrapper>
                     </tui-multi-select>
                  </label><tui-error
                  formControlName="chosenAuthors"
                  [error]="[] | tuiFieldError | async"
                  ></tui-error>   
               </div>
               <div class="tui-form__buttons">
                  <button tuiButton 
                  data-id="save"
                  [disabled]="course.invalid && course.touched"
                  type="submit" 
                  class="tui-form__button" 
                  (click)="saveCourse()"
                  >
                     Save
                  </button>
                  <button  
                  
                  tuiButton class="tui-form__button" 
                  appearance="secondary" 
                  (click)="cancel()"
                  >
                     Cancel
                  </button>
               </div>
         </div>
      </form>
   </div>
</div>
<app-simple-footer></app-simple-footer>
</main>


