<body>
  <div class="simple-header">
    <img [src]="logoSrc" alt="logo" id="compLogo">
    <div class="user-navigation">
     <div class="user-container">
       <img [src]="iconsSrc[1]" alt="iconStar" id="userIcon">
       <a id="userName" data-id="name" tuiLink>{{userName | async}}</a>
     </div>
     <div class="logout">
       <img [src]="iconsSrc[0]" alt="icon" id="logoutIcon" >
       <a tuiLink id="logOutBtn" (click)="logout()" routerLink="/**">Log out</a>
     </div>
    </div>
  </div>
</body>

 
