
  <body>

      <header-section>
        <div>
          <img src="" alt="logo">
          <p></p>
          <p><a href="">Log out</a></p>
        </div>
      </header-section>
      <search-section><input type="search" name="" id=""> <button>search</button> <button>+ Add course</button></search-section>
      <course-list-section>
        <div class="CourseData">
          <p>02.09.2018</p>
          <h1>Title</h1>
          <input type="checkbox" name="" id="" /> <button>Edit</button>
          <p>Description</p>
          <button>Delete</button>
        </div>
        <button>Load More</button>
      </course-list-section>
      <footer-section>
        <p>© </p>   
       </footer-section>

  </body>

